{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="https://assets.openterface.com/css/custom.min.css">
  <!-- 깁비 아바타 및 대화 상자 -->
  <div class="gibby-container">
    <a href="#form_signup" class="gibby-link"><img src="https://assets.openterface.com/images/op-avatar.webp" alt="깁비 마스코트" class="gibby-avatar" draggable="false" aria-label="깁비 마스코트"></a>
    <div class="gibby-dialogue">
      <p> <a href="#form_signup" class="gibby-link">지금 구독하세요!</a> </p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://assets.openterface.com/js/custom.min.js"></script>
{% endblock %}